
body {
    margin: 0;
    display: grid;
    grid-template-rows: 10% 7% 73% 10%;
    height: 100vh;
}

header, nav, main, footer {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

main {
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}